In [11]:
import pandas as pd

In [12]:
df = pd.read_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\cryptocurrency historical prices\raw data\coin_Aave.csv')

In [13]:
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Aave,AAVE,2020-10-05 23:59:59,55.112358,49.787900,52.675035,53.219243,0.000000e+00,8.912813e+07
1,2,Aave,AAVE,2020-10-06 23:59:59,53.402270,40.734578,53.291969,42.401599,5.830915e+05,7.101144e+07
2,3,Aave,AAVE,2020-10-07 23:59:59,42.408314,35.970690,42.399947,40.083976,6.828342e+05,6.713004e+07
3,4,Aave,AAVE,2020-10-08 23:59:59,44.902511,36.696057,39.885262,43.764463,1.658817e+06,2.202651e+08
4,5,Aave,AAVE,2020-10-09 23:59:59,47.569533,43.291776,43.764463,46.817744,8.155377e+05,2.356322e+08

In [14]:
# format the specified columns

columns_to_format = ['High', 'Low', 'Open', 'Close', 'Volume', 'Marketcap']
df[columns_to_format] = df[columns_to_format].applymap(lambda x: f'{x:.2f}'.replace('.', ','))

# format date column to date

df['Date'] = pd.to_datetime(df['Date'])

df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Aave,AAVE,2020-10-05 23:59:59,"55,11","49,79","52,68","53,22","0,00","89128128,86"
1,2,Aave,AAVE,2020-10-06 23:59:59,"53,40","40,73","53,29","42,40","583091,46","71011441,25"
2,3,Aave,AAVE,2020-10-07 23:59:59,"42,41","35,97","42,40","40,08","682834,19","67130036,90"
3,4,Aave,AAVE,2020-10-08 23:59:59,"44,90","36,70","39,89","43,76","1658816,92","220265142,11"
4,5,Aave,AAVE,2020-10-09 23:59:59,"47,57","43,29","43,76","46,82","815537,66","235632208,16"
...,...,...,...,...,...,...,...,...,...,...
270,271,Aave,AAVE,2021-07-02 23:59:59,"234,48","215,95","230,81","233,95","256639522,76","3001542331,19"
271,272,Aave,AAVE,2021-07-03 23:59:59,"265,11","228,49","234,21","259,66","385377799,45","3331546057,40"
272,273,Aave,AAVE,2021-07-04 23:59:59,"289,00","248,29","259,40","277,04","427571943,31","3555054096,37"
273,274,Aave,AAVE,2021-07-05 23:59:59,"317,39","263,43","277,11","307,83","793140860,06","3950268561,44"
274,275,Aave,AAVE,2021-07-06 23:59:59,"346,71","308,00","308,00","316,90","988705452,84","4066775915,02"

In [15]:
# save df to csv

df.to_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\cryptocurrency historical prices\cleaned data\aave.csv', index=False)