In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\cryptocurrency historical prices\raw data\coin_Litecoin.csv')

In [3]:
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Litecoin,LTC,2013-04-29 23:59:59,4.57360,4.22564,4.36676,4.38390,0.0,7.538896e+07
1,2,Litecoin,LTC,2013-04-30 23:59:59,4.57238,4.16896,4.40352,4.29649,0.0,7.402092e+07
2,3,Litecoin,LTC,2013-05-01 23:59:59,4.35686,3.52029,4.28954,3.80101,0.0,6.560460e+07
3,4,Litecoin,LTC,2013-05-02 23:59:59,4.03930,3.00717,3.78002,3.37198,0.0,5.828798e+07
4,5,Litecoin,LTC,2013-05-03 23:59:59,3.45361,2.39594,3.39044,3.04491,0.0,5.269485e+07

In [4]:
# format the specified columns

columns_to_format = ['High', 'Low', 'Open', 'Close', 'Volume', 'Marketcap']
df[columns_to_format] = df[columns_to_format].applymap(lambda x: f'{x:.2f}'.replace('.', ','))

# format date column to date

df['Date'] = pd.to_datetime(df['Date'])

df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Litecoin,LTC,2013-04-29 23:59:59,"4,57","4,23","4,37","4,38","0,00","75388963,84"
1,2,Litecoin,LTC,2013-04-30 23:59:59,"4,57","4,17","4,40","4,30","0,00","74020917,91"
2,3,Litecoin,LTC,2013-05-01 23:59:59,"4,36","3,52","4,29","3,80","0,00","65604596,38"
3,4,Litecoin,LTC,2013-05-02 23:59:59,"4,04","3,01","3,78","3,37","0,00","58287978,84"
4,5,Litecoin,LTC,2013-05-03 23:59:59,"3,45","2,40","3,39","3,04","0,00","52694847,07"
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Litecoin,LTC,2021-07-02 23:59:59,"138,79","130,94","137,30","136,94","1418980649,25","9141322350,44"
2987,2988,Litecoin,LTC,2021-07-03 23:59:59,"141,36","134,95","136,93","140,28","1236493833,83","9364007879,36"
2988,2989,Litecoin,LTC,2021-07-04 23:59:59,"147,84","137,10","140,32","144,91","1431656518,88","9672815312,51"
2989,2990,Litecoin,LTC,2021-07-05 23:59:59,"144,85","134,96","144,85","138,07","1338245544,70","9216722526,28"
2990,2991,Litecoin,LTC,2021-07-06 23:59:59,"142,70","135,92","137,95","138,99","1504907480,34","9277626785,30"

In [5]:
# save df to csv

df.to_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\cryptocurrency historical prices\cleaned data\litecoin.csv', index=False)