In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'coin_Monero.csv')

In [3]:
df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Monero,XMR,2014-05-22 23:59:59,2.18888,1.35909,1.58940,2.09558,132918.0,1.855608e+06
1,2,Monero,XMR,2014-05-23 23:59:59,3.43437,2.05104,2.05104,2.96302,266852.0,2.692180e+06
2,3,Monero,XMR,2014-05-24 23:59:59,4.01424,2.61778,2.92039,3.70245,248028.0,3.456658e+06
3,4,Monero,XMR,2014-05-25 23:59:59,4.04303,2.80330,4.04303,3.13856,283545.0,2.993339e+06
4,5,Monero,XMR,2014-05-26 23:59:59,3.76235,2.31202,3.21897,3.02186,220148.0,2.946133e+06

In [4]:
# format the specified columns

columns_to_format = ['High', 'Low', 'Open', 'Close', 'Volume', 'Marketcap']
df[columns_to_format] = df[columns_to_format].applymap(lambda x: f'{x:.2f}'.replace('.', ','))

# format date column to date

df['Date'] = pd.to_datetime(df['Date'])

df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Monero,XMR,2014-05-22 23:59:59,"2,19","1,36","1,59","2,10","132918,00","1855607,93"
1,2,Monero,XMR,2014-05-23 23:59:59,"3,43","2,05","2,05","2,96","266852,00","2692180,34"
2,3,Monero,XMR,2014-05-24 23:59:59,"4,01","2,62","2,92","3,70","248028,00","3456657,53"
3,4,Monero,XMR,2014-05-25 23:59:59,"4,04","2,80","4,04","3,14","283545,00","2993339,42"
4,5,Monero,XMR,2014-05-26 23:59:59,"3,76","2,31","3,22","3,02","220148,00","2946133,32"
...,...,...,...,...,...,...,...,...,...,...
2597,2598,Monero,XMR,2021-07-02 23:59:59,"211,67","199,61","206,25","211,35","151943393,04","3792466116,60"
2598,2599,Monero,XMR,2021-07-03 23:59:59,"216,33","207,04","211,46","214,75","136414129,65","3853767942,94"
2599,2600,Monero,XMR,2021-07-04 23:59:59,"224,91","213,02","214,84","219,84","169785753,52","3945232253,14"
2600,2601,Monero,XMR,2021-07-05 23:59:59,"220,35","206,50","219,96","214,46","170985179,28","3848898451,40"
2601,2602,Monero,XMR,2021-07-06 23:59:59,"222,14","212,30","214,47","222,14","167861959,49","3986737880,19"

In [5]:
# save df to csv

df.to_csv(r'monero.csv', index=False)